* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(#159588 20%, #d8dbd5 20%);
}


.giga-container {
    /* padding: 3.125rem; */
    height: 100vh;
    display: flex;
}

.container-laterale {

    max-width: 500px;
    padding: 50px 0 50px 50px;
    display: flex;
    height: calc(100vh - 50px);

}

.container-menu {
    /* width: 100%; */
    align-items: center;
    background-color: #eaeaea;

}

.container-profilo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100px;
    border-right: 2px solid #e3e3e3;
}

.container-foto {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.container-foto>img {
    width: 25%;

    border-radius: 50%;
}

.container-icone-profilo {
    display: flex;
    gap: 1.25rem;
    color: #b1b1b1;
}

.container-notifiche {
    background-color: #91dafa;
    height: 6.25rem;
    display: flex;
    align-items: center;
}

a {

    color: #6da1b9;
}

.container-piccolo {
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 10px
}

.testo-notifica {
    display: inline;
    background-color: white;
    border-radius: 50%;
    padding: .625rem;
}

.container-icone-profilo,
.fa-bell-slash {
    font-size: 30px;
}

/* placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome;" */
.fa-solid.fa-bell-slash {

    color: #91dafa;

}

.container-ricerca {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 4.375rem;
    background-color: #fafafa;
    justify-content: center;
}

.container-ricerca>.barra-ricerca {
    width: 80%;
    border-radius: 0%;
    border: none;
    height: 3.125rem;


}

.container-ricerca>button {
    border: 0;
    padding: 10px 30px;
    background-color: white;
    color: #bdbcbd;
}

.container-ricerca>.fa-magnifying-glass {
    padding: 10px;
    background-color: white;
}

.container-piccolo>img {
    width: 15%;
    border-radius: 50%;
    display: flex;
}


.lista-contatti {
    background-color: white;
    list-style: none;
    overflow-y: scroll;

    height: calc(100vh - 420px);
}

.list-item-contatti {
    padding: 10px 0 10px 10px;
    border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #fcfcfc;

}

.container-info-contatti {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: .625rem;
}

.container-chat {
    margin: 50px 50px 50px 0;
    flex-grow: 10;
    background-color: #eaeaea;
    height: calc(100vh - 150px);
}

.container-chat>.container-piccolo {
    height: 70px;
}

.container-chat>.container-profilo>.container-foto>img {

    width: 15%;
}

.container-messaggi {
    background-image: url(../../img/mine.jpg);
    height: calc(100% - 170px);
    overflow-y: scroll;
}

.chat-inviati {
    display: flex;
    justify-content: flex-end;

}

.messaggi-inviati {

    background-color: #d6f8bc;
    border-radius: 10px;
    padding: 10px;
    margin: 40px;
    max-width: 30%;
}

.chat-ricevuti {
    display: flex;
    justify-content: flex-start;
}

.messaggi-ricevuti {
    max-width: 30%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 40px
}

.container-input-messaggio {
    font-size: 1.25rem;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6a727c;
    padding: 30px;
}

.input-text {
    background-color: white;
    width: 80%;
    border-radius: 5px;
    border: none;
    margin: 0 4rem;
    height: 40px;
}

.input-text::placeholder {
    padding-left: 20px;
}

.messaggi-inviati>span,
.messaggi-ricevuti>span {
    font-size: .625rem;
    color: #d0dcef;
    margin-bottom: 0;
    margin-left: 30px;
}

.click-contatto {

    background-color: #e9ebeb;
}