* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.giga-container {
    margin: 3.125rem;
    height: 90vh;
    display: flex;
}

.container-laterale {
    background-color: aqua;
    width: 48.75rem;
    height: 90vh;
    display: flex;
}

.container-main {

    width: 90rem;

}

.container-laterale {

    width: 500px;

}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-menu-superiore {
    width: 100%;
    align-items: center;
    background-color: #eaeaea;

}

.container-profilo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.container-foto {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.container-foto>img {
    width: 20%;

    border-radius: 50%;
}

.container-icone-profilo {
    display: flex;
    gap: 1.25rem;
    color: #b1b1b1;
}

.container-notifiche {
    background-color: #91dafa;
    height: 6.25rem;
    display: flex;
    align-items: center;
}

a {

    color: #6da1b9;
}

.container-piccolo {
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 10px
}

.testo-notifica {
    display: inline;
    background-color: white;
    border-radius: 50%;
    padding: .625rem;
}

.container-icone-profilo,
.fa-bell-slash {
    font-size: 30px;
}

.fa-solid.fa-bell-slash {

    color: #91dafa;

}

.container-ricerca {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 4.375rem;
    background-color: #fafafa;
    justify-content: center;
}

.container-ricerca>.barra-ricerca {
    width: 80%;
    border-radius: 0%;
    border: none;
    height: 50%;


}

.container-ricerca>button {
    border: 0;
    padding: 10px 30px;
    background-color: white;
    color: #bdbcbd;
}

.container-ricerca>.fa-magnifying-glass {
    padding: 10px;
    background-color: white;
}